<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de {{producto.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    
    <ion-img [src]="producto.foto" class="img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{producto.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
